:root {
	--color-brand: #0066cc;
	--color-blue: #3600cc;
	--color-heading: #263238;
	--color-body: #263238;
	--color-white: #fff;
	--color-black: #000;
	--color-dark-gray: #263238;
	--color-gray: #546e7a;
	--color-light-gray: #eceff1;

	--color-gray-100: #f7fafc;
	--color-gray-200: #edf2f7;
	--color-gray-300: #e2e8f0;
	--color-gray-400: #cbd5e0;
	--color-gray-500: #a0aec0;
	--color-gray-600: #718096;
	--color-gray-700: #4a5568;
	--color-gray-800: #2d3748;
	--color-gray-900: #1a202c;
	--box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	--box-shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
	0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.genesis-custom-blocks-pro {
	padding: 20px 20px 0 0;
	margin: 0 auto;
	max-width: 1280px;
	color: var(--color-body);
	font-size: 16px;
	line-height: 1.5;
}

.genesis-custom-blocks-pro .container p {
	margin-bottom: 1em;
	font-size: 1em;
}

.genesis-custom-blocks-pro .container h1,
.genesis-custom-blocks-pro .container h2,
.genesis-custom-blocks-pro .container h3,
.genesis-custom-blocks-pro .container h4,
.genesis-custom-blocks-pro .container h5,
.genesis-custom-blocks-pro .container h6 {
	font-weight: 500;
	margin-bottom: 1em;
}

.genesis-custom-blocks-pro .container h1 {
	font-size: 1.875rem;
}

.genesis-custom-blocks-pro .container h2 {
	color: var(--color-brand);
	font-size: 1.5em;
}

.genesis-custom-blocks-pro .container a {
	color: var(--color-brand);
	text-decoration: underline;
}

.genesis-custom-blocks-pro .container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	box-shadow: var(--box-shadow);
	background-color: var(--color-white);
	border-radius: 3px;
}

.genesis-custom-blocks-pro .container .btn {
	appearance: none;
	border: none;
	display: flex;
	color: var(--color-white);
	box-shadow: var(--box-shadow-small);
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin-left: -1px;
	font-size: 0.875rem;
	height: 2.25rem;
	line-height: 1;
	font-weight: 500;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	background-color: transparent;
	border: 1px solid var(--color-white);
	text-decoration: none;
	transition-duration: .2sec;
}

.genesis-custom-blocks-pro .container .btn:hover {
	cursor: pointer;
	background-color: var(--color-white);
	color: var(--color-brand);
}

.genesis-custom-blocks-pro .container .btn-secondary {
	color: var(--color-brand);
	border-color: var(--color-brand);
}

.genesis-custom-blocks-pro .container .btn-secondary:hover {
	color: var(--color-white);
	background-color: var(--color-brand);
}

.genesis-custom-blocks-pro .gcb-hero {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 4rem 2.5rem;
	color: #fff;
	background-size: cover;
	background-image: url('../assets/images/gcb-gen-pro-hero-bg-img.jpg');
}

.genesis-custom-blocks-pro .gcb-hero__actions {
	display: flex;
	align-items: center;
}

.genesis-custom-blocks-pro .gcb-hero__actions a.btn {
	color: var(--color-white);
	text-decoration: none;
}

.genesis-custom-blocks-pro .license-key-form {
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

.genesis-custom-blocks-pro .gcb-hero > div > .btn {
	margin-right: 0.5rem;
}

.genesis-custom-blocks-pro .license-key-form input {
	margin-left: 0.5rem;
	border: none;
	height: 2.25rem;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-color: var(--color-light-gray);
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 0.875rem;
	line-height: 1;
	width: 250px;
}

.genesis-custom-blocks-pro .license-key-form .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	box-shadow: none;
}

.genesis-custom-blocks-pro .gcb-hero img {
	width: 300px;
}

.genesis-custom-blocks-pro .gcb-hero h3 {
	display: block;
	color: #fff;
	font-size: 1.17em;
}

.genesis-custom-blocks-pro .gcb-content-body {
	padding: 2.5rem;
}

.genesis-custom-blocks-pro .pro-fields {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}

.genesis-custom-blocks-pro .pro-field {
	width: 150px;
	flex-shrink: 0;
	height: 40px;
	display: flex;
	align-items: center;
	border: 1px solid var(--color-light-gray);
	border-radius: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	font-weight: 600;
	color: var(--color-gray);
	font-size: 0.875rem;
}

.genesis-custom-blocks-pro .pro-field--more {
	background-color: var(--color-light-gray);
	font-weight: 400;
}

.genesis-custom-blocks-pro .pro-field span {
	line-height: 1;
}

.genesis-custom-blocks-pro .pro-field--icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 22px;
	width: 22px;
	border-radius: 11px;
	background-color: var(--color-gray);
	margin-right: 8px;
}

.genesis-custom-blocks-pro .pro-field--icon svg {
	width: 14px;
	height: 14px;
	color: var(--color-white);
	fill: currentColor;
}

.genesis-custom-blocks-pro .gen-feature-table {
	display: flex;
	flex-wrap: wrap;
}

.genesis-custom-blocks-pro .gen-feature-table--col {
	width: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	border-radius: 6px;
	padding: 20px;
	/* background-color: var(--color-light-gray); */
	background-image: url('../assets/images/gcb-gen-free-plan-bg.jpg');
	background-size: cover;
	color: var(--color-gray);
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: -10px;
}

.genesis-custom-blocks-pro .gen-feature-table--col:last-of-type {
	/* background-color: var(--color-brand); */
	background-image: url('../assets/images/gcb-gen-pro-plan-bg.jpg');
	background-size: cover;
	color: var(--color-white);
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	box-shadow: var(--box-shadow);
}

.genesis-custom-blocks-pro .gen-feature-table--col h3 {
	color: var(--color-brand);
	font-size: 1.6rem;
	font-weight: 600;
}

.genesis-custom-blocks-pro .gen-feature-table--col:last-of-type h3 {
	color: var(--color-white);
}

.genesis-custom-blocks-pro .gen-feature-table--col ul {
	list-style-type: none;
	padding-left: 0;
}

.genesis-custom-blocks-pro .gen-feature-table--col li {
	position: relative;
	font-size: 0.875rem;
	font-weight: 500;
	margin-bottom: 34px;
}

.genesis-custom-blocks-pro .gen-feature-table--col li:after {
	content: '';
	height: 6px;
	width: 6px;
	position: absolute;
	display: block;
	background-color: var(--color-gray);
	left: 50%;
	border-radius: 5px;
	bottom: -22px;
	margin-left: -5px;
}

.genesis-custom-blocks-pro .gen-feature-table--col:last-of-type li:after {
	background-color: var(--color-white);
}

.genesis-custom-blocks-pro .gen-feature-table--col li:last-of-type:after {
	display: none;
}

@media (max-width:680px) {
	.genesis-custom-blocks-pro .gcb-hero__actions {
		flex-direction: column;
		align-items: flex-start;
	}

	.genesis-custom-blocks-pro .gcb-hero__actions > .btn {
		margin-bottom: 0.5rem;
	}

	.genesis-custom-blocks-pro .gcb-hero__actions .license-key-form {
		margin-top: 0.5rem;
	}

	.genesis-custom-blocks-pro .gcb-hero__actions input {
		margin-left: 0;
		width: auto;
	}

	.genesis-custom-blocks-pro .gen-feature-table--col {
		width: auto;;
	}
}
