<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./php</directory>
		</include>
	</coverage>
	<testsuites>
		<testsuite name="unit">
			<directory suffix=".php">./tests/php/Unit/Helpers/</directory>
			<directory prefix="Test" suffix=".php">./tests/php/Unit/</directory>
		</testsuite>
		<testsuite name="integration">
			<directory suffix=".php">./tests/php/Integration/Helpers/</directory>
			<directory prefix="Test" suffix=".php">./tests/php/Integration/</directory>
		</testsuite>
	</testsuites>
</phpunit>
