@import "color";

$input-padding: 8px;
$input-width: 300px;
$default-font-size: 13px;
$break-small: 600px;
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

@mixin break-small() {
	@media (min-width: #{ ($break-small) }) {
		@content;
	}
}

/* Menu items. */
@mixin menu-style__neutral() {
	border: none;
	box-shadow: none;
}

.gcb-editor-form,
.gcb-inspector-form {

	:required:invalid {
		border-color: #c00000;
	}

	.text-control__error input {
		border-color: #d94f4f;
		box-shadow: 0 0 0 1px #d94f4f;
	}

	/* Color Control Component */
	.genesis-custom-blocks-color-control {

		.components-base-control {
			display: inline-block;
			margin-bottom: 0 !important;

			.components-base-control__field {
				margin: 0 !important;
				width: 100%;
				height: 100%;
			}

			&.genesis-custom-blocks-color-popover {
				width: 28px;
				height: 28px;
				border-radius: 50%;
				margin: 1px 1em !important;
				background-image: linear-gradient(45deg, #ddd 25%, transparent 25%), linear-gradient(-45deg, #ddd 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ddd 75%), linear-gradient(-45deg, transparent 75%, #ddd 75%);
				background-size: 10px 10px;
				background-position: 0 0, 0 5px, 5px -5px, -5px 0;
				display: inline-block;
				vertical-align: top;
				border: none;
				box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
				transition: 100ms transform ease;
				cursor: pointer;

				&:hover {
					transform: scale(1.2);
				}

				.component-color-indicator {
					width: 100%;
					height: 100%;
					margin: 0;
					border: none;
					border-radius: 50%;
				}
			}
		}
	}

	/* Media Upload Component */
	.genesis-custom-blocks-media-controls {
		.gcb-image__img {
			max-height: 200px;
			display: block;
			margin-bottom: 8px;
		}

		.components-placeholder {
			position: relative;
		}

		.gcb-image__placeholder .components-button.is-button {
			white-space: normal;
		}

		.components-form-file-upload,
		.components-media-library-button,
		.gcb-image__remove {
			margin: 0 4px 4px 0;
			display: inline-block;
			vertical-align: top;
		}

		.components-base-control__field {
			.components-base-control__help {
				margin-bottom: 4px;
				margin-top: 0;
			}
		}

		pre {
			margin-left: 0.5em;
		}
	}
}

/* Block form in editor */
div[class^="wp-block-genesis-custom-blocks-"],
.gcb-editor {
	margin: 0;
}

.gcb-editor-form {
	border-left: none;
	background: $dark-opacity-light-200;
	padding: 22px 0 22px 22px;
	font-size: 0.8125rem;
	display: flex;
	flex-wrap: wrap;

	h3 {
		color: #111;
		font-size: 1rem;
		margin: 0;
		flex: 1 1 100%;

		svg {
			position: relative;
			top: 6px;
			margin-right: 4px;
		}
	}

	p {
		font-size: 1rem;
		font-family: $font-family;
	}

	.genesis-custom-blocks-control {
		flex-basis: 100%;
		padding-right: 22px;

		&.width-25 {
			flex-basis: 25%;
		}
		&.width-50 {
			flex-basis: 50%;
		}
		&.width-75 {
			flex-basis: 75%;
		}
	}

	@media screen and (max-width: 782px) {
		.genesis-custom-blocks-control.width-25,
		.genesis-custom-blocks-control.width-50,
		.genesis-custom-blocks-control.width-75 {
			flex-basis: 100%;
		}
	}

	.components-base-control {
		font-family: $font-family;
	}

	.components-base-control__field {
		margin: 1em 0 0;

		.components-base-control__label {
			display: block;
			font-weight: 600;
		}
	}

	.components-base-control__help {
		margin: 0 0 1em 0.5em;
		font-size: 1em;
		color: rgba(0, 0, 0, 0.8);
	}

	/* Override a max-width: 25rem style rule in Core that can prevent displaying at the selected with, like 75% */
	.components-select-control__input {
		max-width: unset;
	}
}

.gcb-inspector-form {
	/* Media Upload Component */
	.genesis-custom-blocks-media-controls {
		.components-spinner {
			float: none;
		}
	}

	.genesis-custom-blocks-color-control .components-base-control__label {
		display: block;
	}
}

/* Miscellaneous global styles */
.edit-post-layout {
	.components-popover:not(.is-mobile):not(.gcb-fetch__popover) .components-popover__content .components-color-picker {
		min-width: 340px;
	}
}

// In the <ServerSideRender> display, correct an issue where <ul> and <ol> can appear outside (to the left) of their container.
.editor-styles-wrapper .genesis-custom-blocks-editor__ssr {
	ul,
	ol {
		margin-left: 1rem;
	}
}
