@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.side {
	width: 280px;
}

.gcb-setting-width button.active {
	background-color: #bee3f8;
}

.truncate {
	direction: rtl;
}

/* Ported from Tailwind, as they can be stripped with purge */
.col-span-1 {
	grid-column: span 1 / span 1;
}

.col-span-2 {
	grid-column: span 2 / span 2;
}

.col-span-3 {
	grid-column: span 3 / span 3;
}

.col-span-4 {
	grid-column: span 4 / span 4;
}

/* For Gutenberg components */
.components-form-token-field__label {
	font-size: 0.875rem;
}

.editor-post-title__input {
	width: 100%;
	text-align: center;
}

#save-and-publish {
	margin-left: auto;
}

#wpfooter {
	display: none;
}

.editor-post-saved-state > svg {
	display: inline;
}

.components-snackbar-list {
	bottom: 0;
}

/* Forked from Gutenberg */
.editor-post-title .editor-post-title__input:focus {
	border: 1px solid transparent;
	outline: 1px solid transparent;
	box-shadow: none;
}

.components-visually-hidden {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

/* Forked from @material-ui */
.MuiSvgIcon-root {
	fill: currentColor;
	width: 1em;
	height: 1em;
	display: inline-block;
	font-size: 1.5rem;
	transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	flex-shrink: 0;
	user-select: none;
}
