version: 2.1

orbs:
  node: circleci/node@5.0
  php: circleci/php@1.1
  wp-svn: studiopress/wp-svn@0.1

references:
  PLUGIN_PATH: &PLUGIN_PATH
    ~/project/wordpress-develop/src/wp-content/plugins/genesis-custom-blocks

executors:
  php:
    docker:
      - image: cimg/php:7.4-node

commands:
  set-up-packages:
    description: "Installing packages and building"
    steps:
      - run: composer update
      - php/install-packages
      - node/install-packages
      - run: npm run build

jobs:
  lint:
    executor:
      name: php
    steps:
      - checkout
      - node/install
      - set-up-packages
      - run: npm run lint

  php-tests:
    parameters:
      php-version:
        type: string
    docker:
      - image: cimg/php:<< parameters.php-version >>-node
        environment:
          WP_TESTS_DIR: ~/project/wordpress-develop/tests/phpunit
      - image: mysql:5.7
        environment:
          MYSQL_DATABASE: youremptytestdbnamehere
          MYSQL_HOST: 127.0.0.1
          MYSQL_USER: yourusernamehere
          MYSQL_PASSWORD: <insert password here>
          MYSQL_ROOT_PASSWORD: wordpress
    steps:
      - checkout
      - node/install
      - run:
          name: Installing WordPress and setting up tests
          command: |
            git clone -b 6.1 git://develop.git.wordpress.org/ wordpress-develop
            cp wordpress-develop/wp-tests-config-sample.php wordpress-develop/wp-tests-config.php
            sed -i 's/localhost/127.0.0.1/g' wordpress-develop/wp-tests-config.php
            sed -i 's/yourpasswordhere/<insert password here>/g' wordpress-develop/wp-tests-config.php
      - run: mkdir -p *PLUGIN_PATH
      - checkout:
          path: *PLUGIN_PATH
      - node/install-packages:
          app-dir: *PLUGIN_PATH
      - run:
          name: Running PHPUnit
          working_directory: *PLUGIN_PATH
          command: |
            npm run build
            composer update
            composer install
            WP_TESTS_DIR=~/project/wordpress-develop/tests/phpunit composer test

  js-tests:
    executor: php
    steps:
      - checkout
      - node/install
      - node/install-packages
      - run: npm run test:js -- --maxWorkers=2

  e2e-tests:
    machine:
      image: ubuntu-2004:202111-02
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install php php-xml php-mbstring
      - php/install-composer
      - node/install
      - set-up-packages
      - run:
          name: Runnning e2e tests
          command: |
            npm run wp-env start
            npm run wp-env run cli 'wp core upgrade --version=6.1-RC3'
            npm run wp-env run cli 'wp core version'
            npm run test:e2e
      - store_artifacts:
          path: /tmp/artifacts/

  svn-deploy:
    executor:
      name: php
    working_directory: ~/project/svn_deploy
    steps:
      - attach_workspace:
          at: ~/project
      - checkout
      - node/install
      - run:
          command: |
            BUILD_VERSION=$(grep 'Version:' genesis-custom-blocks.php | cut -f4 -d' ')
            sudo apt-get update && sudo apt-get install subversion
            svn co https://plugins.svn.wordpress.org/genesis-custom-blocks package
            npm ci && npm run gulp
            cd package
            SVN_DIRECTORIES="trunk tags assets"
            svn stat $SVN_DIRECTORIES | { grep -E '^\?' || true; } | awk '{print $2}' | xargs -r svn add
            svn stat $SVN_DIRECTORIES | { grep -E '^\!' || true; } | awk '{print $2}' | xargs -r svn rm
            svn up $SVN_DIRECTORIES
            echo "Here is the svn stat about to be checked in:"
            svn stat
            svn ci -m "Tagging ${BUILD_VERSION} from GitHub" --no-auth-cache --non-interactive --username "${SVN_USERNAME}" --password "${SVN_PASSWORD}"

workflows:
  test-deploy:
    jobs:
      - php-tests:
          filters:
            tags:
              only: /.*/
          matrix:
            parameters:
              php-version: [ '5.6', '7.0', '7.1', '7.2', '7.3', '7.4', '8.0', '8.1' ]
      - js-tests:
          filters:
            tags:
              only: /.*/
      - e2e-tests:
          filters:
            tags:
              only: /.*/
      - lint:
          filters:
            tags:
              only: /.*/
      - wp-svn/check-versions:
          changelog-file: CHANGELOG.md
          filters:
            tags:
              only: /^\d+\.\d+\.\d+$/
            branches:
              ignore: /.*/
      - svn-deploy:
          context: genesis-svn
          requires:
            - php-tests
            - js-tests
            - e2e-tests
            - lint
            - wp-svn/check-versions
          filters:
            tags:
              only: /^\d+\.\d+\.\d+$/
            branches:
              ignore: /.*/
      - approval-for-deploy-tested-up-to-bump:
          type: approval
          requires:
            - php-tests
            - js-tests
            - e2e-tests
            - lint
          filters:
            tags:
              ignore: /.*/
            branches:
              only: /^bump-tested-up-to.*/
      - wp-svn/deploy-tested-up-to-bump:
          context: genesis-svn
          requires:
            - approval-for-deploy-tested-up-to-bump
